@media screen and (max-width:1199px) {

    html {
        font-size: 15px;
    }
    .players_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:1024px) {
    .main-navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding: 50px;
        background-color: #000;
        transform: translateX(-100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .main-navbar {
        transform: translateX(0);
        justify-content: flex-start;
    }

    .main-navbar ul {
        flex-direction: column;

    }
    
    .menu-icon {
        display: block;
    }
    .close-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        color: #fff;
        text-align: end;
        z-index: 55;
    }

}


@media screen and (max-width: 991px) {
    .why_trust_us_img_outer {
        height: 25rem;
    }
    .shipping-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-top {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "logo logo"
            "links contact";

    }

    .footer-links,
    .footer-contact {
        border-left: none;
    }

    .footer-features {
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
    }
    .players_grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .player_card_desc {
        min-height: 90px;
    }
    .jersey_page_card {
        width: 47%;
    }
    .hero h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 14px;
    }
    .why_trust_us_img_outer {
        height: 20rem;
    }
    .footer-links,
    .footer-contact {
        padding-left: 0;
        border-left: none;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 1.25rem;
        text-align: center;
    }
    .jersey_page_card {
        width: 100%;
    }
    .py-7 {
        padding: 3.375rem 0;
    }
}

@media screen and (max-width:575px) {

    .shipping-grid {
        grid-template-columns: 1fr;
    }
    .footer-top {
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "links"
            "contact";
    }

    .footer-logo a {
        width: 12.75rem;
    }

    .legends-grid {
        grid-template-columns: 1fr;
    }

    .footer-links,
    .footer-contact {
        border-top: 0.0625rem solid rgb(192 147 66/30%);
        padding-top: 1.25rem;
    }

    .footer-features {
        grid-template-columns: 1fr;
        text-align: left;
    }

    .footer-features .feature-item {
        justify-content: flex-start;
    }
    .footer-top h5 {
        font-size: 1.1rem;
    }
    .hero h1 {
        font-size: 3rem;
    }
    .image_text_content h2, .image_text_content h3 {
        font-size: 2rem;
    }
    .players_grid {
        grid-template-columns: 1fr;
    }
    .player_card_desc {
        min-height: 0;
    }
    .why_trust_us_cards_content {
        padding: 3rem 1rem;
    }

}

@media screen and (max-width:480px) {

    .footer-bottom p {
        font-size: 0.8rem;
    }

    .footer-top h3 {
        font-size: 1.6rem;
    }
    .hero h1 {
        font-size: 2.5rem;
    }
    .hero p {
        font-size: 1.1rem;
    }
    .butn {
        font-size: 1rem;
        line-height: 1.4;
    }
    .banner_content h1 {
        font-size: 2.5rem;
    }
    .jersey_page_card_content {
        padding: 0;
    }
    .jersey_page_cards {
        padding: 3.5rem 0rem;
    }
    .section_heading {
        font-size: 2.5rem;
    }
}